


        <div class="container px-4 py-5 " >
            <div class="row">
                <div class="col-3"></div>
                <div class="col-9">
                    <h2 class="pb-2 border-bottom">My Recent Requests</h2>
                    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                        <a routerLink="/offer-details" class="text-decoration-none ">
                            <div class="col d-flex align-items-start card-body bg-white card py-4 px-2">

                                <div class="">
                                    <h3 class="fs-3">Custom Clearance</h3>
                                    <p > <span><i class="bi bi-flag-fill"></i></span> Egypt</p>
                                    <p > <span><i class="bi bi-geo-alt-fill"></i></span> Cairo Airport</p>
                                       <hr>
                                   <a href="" class="text-decoration-none link-success">+15 New Offer</a>
                                  </div>
                              </div>
                        </a>

                <a routerLink="/offer-details" class="text-decoration-none ">
                    <div class="col d-flex align-items-start card-body bg-white card py-4 px-2">

                        <div class="">
                            <h3 class="fs-3">Custom Clearance</h3>
                            <p > <span><i class="bi bi-flag-fill"></i></span> Egypt</p>
                            <p > <span><i class="bi bi-geo-alt-fill"></i></span> Cairo Airport</p>
                               <hr>
                           <a href="" class="text-decoration-none link-success">+15 New Offer</a>
                          </div>
                      </div>
                </a>


                <a routerLink="/offer-details" class="text-decoration-none ">
                    <div class="col d-flex align-items-start card-body bg-white card py-4 px-2">

                        <div class="">
                            <h3 class="fs-3">Custom Clearance</h3>
                            <p > <span><i class="bi bi-flag-fill"></i></span> Egypt</p>
                            <p > <span><i class="bi bi-geo-alt-fill"></i></span> Cairo Airport</p>
                               <hr>
                           <a href="" class="text-decoration-none link-success">+15 New Offer</a>
                          </div>
                      </div>
                </a>
                </div>
            </div>

        </div>
      </div>



