<div class="container">
  <div class="row">
    <div class="col-3">
      <!-- <app-representetivesidebar></app-representetivesidebar> -->
    </div>

    <div class="col-8 ">


      <div class="row   mt-5 ">
        <div class="feature col mb-3" *ngFor="let item of requests ; let i = index">
          <div class="card">
            <div class="card-body">
              <h3 class="fw-bold d-inline">{{item.category_name}} </h3>
              <span class="float-end"><img class="mt-2" src="../../../../../assets/Logisty ui images/um.svg"
                  height="30px" ms-3alt="" srcset=""></span>
              <p class="text-muted bi bi-bag ">12/2/2022 8:00 pm</p>
              <p>{{item.status}}</p>
              <p>{{item.country_origin_name}}</p>
              <hr>
              <h4 class="fw-semibold">Set Offer</h4>
              <div class="d-flex justify-content-around">

                <a class=" btn btn2 w-50 mx-1    btn1 text-decoration-none ">Price</a>
                <a class=" btn btn2 w-50 mx-1    btn1 text-decoration-none ">Time</a>
                <!-- <a [routerLink]="['/representative-new-quotation',item.order_id]" routerLinkActive="router-link-active" -->
                  <!-- class=" btn btn2   btn-success w-50 mx-1 btn1 text-decoration-none ">SEND</a> -->
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>