<!--
  <section class="container">
    <div class="row white ">
        <h3 class="text-center p-3 p-md-3 p-sm-3">Pricing Table</h3>
                <div class="col-3 ">
                <ul class="pricing p-green card">
                  <li>
                    <img class="w-75" src="../../../../assets/Logisty ui images/Free shipping-amico.svg" alt="">

                  </li>
                  <li class="fw-bold " >30 DAY TRIAL</li>

                  <li>Lorem, ipsum dolor.</li>
                  <li>Lorem ipsum dolor sit.</li>
                  <li>Lorem ipsum dolor sit.</li>
                  <li>Lorem ipsum dolor sit.</li>

                  <li>
                    <button class="btn btn-success w-100">Free!</button>
                  </li>
                </ul>
            </div>

            <div class="col-3">
                <ul class="pricing p-yel card">
                  <li>

                  </li>
                  <li class="fw-bold " >Transaction based</li>
                  <li>Lorem, ipsum dolor.</li>
                  <li>Lorem ipsum dolor sit.</li>
                  <li>Lorem ipsum dolor sit.</li>
                  <li>Lorem ipsum dolor sit.</li>

                  <li>
                    <button class="btn btn-success w-100">$ 9.99 / month</button>
                  </li>
                </ul>
            </div>

            <div class="col-3">
                <ul class="pricing p-red card">
                  <li>

                  </li>
                  <li class="fw-bold " >Fixed rate</li>
                  <li>Lorem, ipsum dolor.</li>
                  <li>Lorem ipsum dolor sit.</li>
                  <li>Lorem ipsum dolor sit.</li>
                  <li>Lorem ipsum dolor sit.</li>

                  <li>
                    <button class="btn btn-success w-100">$ 19.99 / month</button>
                  </li>
                </ul>
            </div>

            <div class="col-3 col-md-3 col-sm-3 col-xl-3">
                <ul class="pricing p-blue card d-block">
                  <li>

                  </li>
                  <li class="fw-bold " >30 Period based</li>
                  <li>Lorem, ipsum dolor.</li>
                  <li>Lorem ipsum dolor sit.</li>
                  <li>Lorem ipsum dolor sit.</li>
                  <li>Lorem ipsum dolor sit.</li>
                  <li>
                    <button class="btn btn-success w-100 ">$ 49.99 / month</button>
                  </li>
                </ul>
            </div>
            <p class="text-center p-5">Excepteur sint occaecat cupidatat non proident, <br> sunt in culpa qui officia deserunt</p>
          </div>

    </section>


  <section>
    <app-footer></app-footer>
  </section> -->

  <div class="container py-3">
    <header>
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">{{"Pricing Table" | translate}}</h1>
      </div>
    </header>

    <main>
      <div class="row row-cols-1 row-cols-md-4 row-cols-lg-4  text-center">
        <div class="col" *ngFor="let items of pricings">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
              <img class="w-100" src="{{ items.image }}" alt="" height="">
              <ul class="list-unstyled mt-3 mb-4 py-lg-4 py-md-2 py-sm-2">

                <li class="title">{{ items.title }}</li>
                <li>{{ items.description }}</li>

              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-primary">{{ items.price }}</button>
            </div>
          </div>
        </div>

      </div>


    </main>


  </div>
