<div class="container">
  <div class="row">
      <div class="col-3">
        <app-company-side-bar></app-company-side-bar>
      </div>

      <div class="col-8 ">


              <div class="row   mt-5 ">
                <div class="feature col mb-3" *ngFor="let item of data">
                      <div class="card">
                        <div class="card-body">
                          <h3 class="fw-bold d-inline">{{item.service}} </h3>
                          <span class="float-end"><img class="mt-2" src="../../../../../assets/Logisty ui images/um.svg" height="30px"
                              ms-3alt="" srcset=""></span>
                          <p class="text-muted bi bi-bag ">12/2/2022 8:00 pm</p>
                          <p>{{item.status}}</p>
                          <p>Cairo Airport</p>
                          <hr>
                          <h4 class="fw-semibold">Set Offer</h4>
                          <div class="d-flex justify-content-around">

                            <a class=" btn btn2 w-50 mx-1    btn1 text-decoration-none " href="">Price</a>
                            <a class=" btn btn2 w-50 mx-1    btn1 text-decoration-none " href="">Time</a>
                            <a  (click)="destroy(item.id)" class=" btn btn2   btn-danger   btn1 text-decoration-none ">
                              <i class="bi bi-trash"></i>
                             </a>                          </div>
                        </div>
                      </div>
                </div>

              </div>
            </div>

    </div>
  </div>





