
 <div class="flex-shrink-0 p-3 bg-white card" style="width: 280px;">
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn fw-semibold text-muted align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
        <i class="bi bi-file-earmark-break fw-bold me-2"></i>
        {{"My Requests" | translate}}
      </button>
      <div class="collapse" id="dashboard-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small d-block">
          <button class="btn-sm border-0 bg-white d-flex">
            <a routerLink="/main-sction" class="link-dark rounded text-decoration-none"
            >{{"new request" | translate}}</a></button>
          <button class="btn-sm border-0 bg-white"><a  routerLink="/send-requests"
            class="link-dark rounded text-decoration-none">{{"All Requests" | translate}}</a></button>
        </ul>
      </div>
    </li>
    <li class=" border-top"></li>
    <li class="mb-1">
      <button class="btn  align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        <i class="bi bi-check-circle-fill me-2"></i>
        {{"Accepted Quotes" | translate}}

      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small d-block">
          <button class="btn-sm border-0 bg-white d-flex"><a routerLink="/on-progress"
            class="link-dark rounded text-decoration-none">{{"on progress" | translate}}</a></button>
          <button class="btn-sm border-0 bg-white"><a  routerLink="/Completed"
             class="link-dark rounded text-decoration-none">{{"Completed" | translate}}</a></button>

        </ul>
      </div>
    </li>
    <li class=" border-top"></li>
    <li class="mb-1">
      <button  routerLink="/customer-support" class="btn text-muted fw-semibold align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
        <i class="bi bi-chat-text me-2"></i>
        {{"Customer Support" | translate}}
      </button>
    </li>
  </ul>
</div>
