<section>
  <section class="py-5 text-center container">
    <div class="row ">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">{{"About US" | translate}}</h1>
        <div class="row">
          <div class="col-4 ">
            <p class="title">{{"We give you control of your shipments" | translate}}</p>
          </div>
          <div class="col-8 ">
            <p class="lead text-muted">
              {{"below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely." | translate}}</p>

          </div>
        </div>

      </div>
    </div>
  </section>
  <div class="album py-5 ">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" >
        <div class="col" *ngFor="let item of aboutUs">
          <div class="card shadow-sm " >
            <img class="bd-placeholder-img card-img-top p-4" width="100%" height="225"
            src="{{ item.image }}"   alt="" srcset="">
            <div class="card-body text-center ">
              <p class="card-text fw-bold">{{ item.description }}</p>
              <p style="color:#C8523B ;" class="fw-bold">{{ item.title }}</p>
            </div>
          </div>
         </div>


      </div>
    </div>
  </div>
</section>
<section>



    <section class="py-5 text-center container">
      <div class="row ">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">{{"Our Services" | translate}}</h1>
          <p class="lead   title">
            {{"Logistics Solutions to Help Businesses from End to End" | translate}}
          </p>

            <p class="lead text-muted">
              {{"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam era t, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea" | translate}}</p>
        </div>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
           <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../../../../assets/Logisty ui images/vecteezy_the-forklift-is-working-in-the-warehouse_6024482_516.jpg" alt="" srcset="">
              <div class="card-body">
                <h3  class="text-center title">{{"What We Do?" | translate}}</h3>
                <p class="card-text text-center">
                   {{"This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.little bit longer.little bit longer." | translate}}</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm" >
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../../../../assets/Logisty ui images/5-proven-ways-to-close-a-deal-in-english.jpg" alt="" srcset="">
                   <div class="card-body">
                     <h3  class="text-center title">
                      {{"Who We Help?" | translate}}
                     </h3>
                     <p class="card-text text-center">
                        {{"This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.little bit longer.little bit longer." | translate}}</p>
                   </div>
                 </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">

              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../../../../assets/Logisty ui images/Mask Group 3.jpg" alt="" srcset="">
                   <div class="card-body">
                     <h3  class="text-center title">
                      {{"Why Choose US?" | translate}}
                     </h3>
                     <p class="card-text text-center">
                      {{"This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.little bit longer.little bit longer." | translate}}</p>


                   </div>
                 </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section>
<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h4>
        {{"How To Use WEBSITE NAME" | translate}}
      </h4>
<p>
  {{"Here there will be a video" | translate}}
</p>
    </div>
  </div>

  <div class="row"  >
    <div class="col-lg-4 text-center" *ngFor="let team of teamMember">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{ team.image }}" alt="" srcset="">
      <h2 class="fw-normal title">{{ team.name }}</h2>
      <p class="">{{ team.description }}</p>
    </div>
  </div>

</div>
</section>
<section>
  <app-footer></app-footer>
</section>
