$basecolor:#57B8CE;
$secondColor:#CA5135;
$background:#FAFAFA;

li{
    margin-bottom: 10px;
}
.btn{
    background-color: $secondColor;
    color:$background ;
}
.bi-currency-dollar{
    border: #57B8CE solid 1px ;
    font-size: 28px;
    border-radius: 50% 50%;
    background-color: grey;

}
.btn-success{
    background-color: green;
    border-radius: 2;
    
}
.btn1{
    text-align: center;
    border-radius: 2;
    color: grey;
    border: solid  1px   $secondColor;
background-color: white;
}