



  <div class="container">
    <div class="row">
        <div class="col-3 mt-2 ">

<app-profile-side-bar></app-profile-side-bar>

        </div>
        <div class="col-8 g-4 mt-2 ms-3  ">
            <div class="col-md-9 col-lg-9 bg-white  p-3 ">
                <h4 class="mb-3">  <span> <i class="bi bi-bell-fill me-2 "></i></span>{{"Notifications" | translate}} </h4>
                <hr class="my-3">
                <form class="needs-validation" >
                  <div class="row g-3">
                    <div class="col-sm-12 card  ">
                        <p class="controlText">{{"Choose Language" | translate}}</p>

                      <div class="d-flex justify-content-end align-content-center mt-2">
                          <select name="" id="" class="fs-5 border">
                            <option value="">english</option>
                            <option value="">عربى</option>

                          </select>
                      </div>
                    </div>
                  </div>

                  <hr class="my-4">

                  <button class="w-50 btn btn-primary float-end " type="submit">{{"Save Changes" | translate}}</button>
                </form>
              </div>
        </div>
    </div>
</div>

<section class="mt-3">

    <app-footer></app-footer>
</section>


