<div class="container" >
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="title">{{ "Registerwithusnow" | translate }}</h2>
            <p>{{ "thisTextforTexting" | translate }}</p>
        <p>{{ "thisTextforTexting2" | translate }} </p>

        <div class="row p-5">
            <div class="col-6 ">
               <div>
                 <img class=" w-100 " src="../../../../assets/Logisty ui images/Finance-pana.png" alt="" srcset="">

               </div>
                <div class="   ">
                    <h3 class="">{{ "Iamaserviceprovider" | translate }}</h3>
                    <p class="px-2 px-lg-5 textcontral">{{ "thisTextforTexting" | translate }}</p>
                    <button class="btn w-75 mt-3 p-4" routerLink="/oprator-register">{{ "Registerasaserviceprovider" | translate }} </button>
                    </div>
            </div>
            <div class="col-6 ">
                <div>
                    <img class=" w-75 mt-2 mt-lg-4"  src="../../../../assets/Logisty ui images/Globalization-rafiki.png" alt="" srcset="">

                </div>
                <div class="  ">
                   <h3 class="fs-5">{{ "Iamaclient" | translate }}</h3>
                   <p class="px-2 px-lg-5 textcontral">{{ "thisTextforTexting" | translate }}</p>
                   <button class="btn w-75 mt-3 p-4" routerLink="/register">{{ "Registerasacustomer" | translate }}  </button>
              </div>

            </div>


        </div>
        </div>
    </div>
</div>
