

<section id="hero" class=" backhroundimageSection ">
    <div class=" container vh-75 mt-5">
      <div class="row row-cols-1 ">
        <owl-carousel-o [options]="customOptions" class="">
          <ng-container *ngFor="let slider of sliderbar" class=" d-flex ">
            <ng-template carouselSlide [id]="slider.id" class="  ">
              <div class="d-flex ">

                <div class="row">
                  <div class="col-lg-8">
                    <img  class=""  src="{{ slider.image }}" style="width: 500px;" alt="" srcset="">
                  </div>
                  <div class="col-lg-4 " style=" padding-top: 42px !important;">
                    <div class="">
                      <h3 class="fontcontrol fw-bold  ">{{ slider.title }}</h3>
                      {{ slider.description }}
                    </div>
                  </div>
                </div>


            <!-- <img  class="   my-5 mida"  src="{{ slider.image }}" style="width: 400px;" alt="" srcset="">

               <div class="  w-50  m-auto  ms-1 ms-lg-4 me-1 me-lg-4 ">
                 <h3 class="fontcontrol fw-bold  ">{{ slider.title }}</h3>
                 {{ slider.description }}
               </div> -->

              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>

  </div>
    <footer class="backgroudImg p-2 p-lg-3 ">
        <h3 class="text-center fs-3 textfont "style="color: white;">1,000,000 <span class=" text-start textfont " style="color: white;">{{ "client" | translate }}</span> </h3>
        <p class="text-center fs-6  "style="color: white;">{{ "Existingcustomergroup" | translate }}</p>
    </footer>

  </section>
<section>
  <app-sectiontwo></app-sectiontwo>
</section>
<section>
  <app-sectionthreee></app-sectionthreee>
</section>
<section>
  <app-sectionfour></app-sectionfour>
</section>
<section>
  <app-sectionfive></app-sectionfive>
</section>
<section>
  <app-footer></app-footer>
</section>
