<div class="d-flex flex-column flex-shrink-0 p-3  bg-white card " >
    <ul class="nav nav-pills flex-column mb-auto ">
        <li class="">
            <a routerLink="/edit-informations" class="nav-link link-dark  ">
              <span> <i class="bi bi-person-plus-fill me-2"></i></span> {{"Edit My informations" | translate}}
            </a>
          </li>
      <li>

        <a routerLink="/notification-setting" class="nav-link link-dark ">
          <span> <i class="bi bi-bell-fill me-2"></i></span>{{"Notifications" | translate}}</a>
      </li>
      <li>

        <a routerLink="/change-password" class="nav-link link-dark ">
          <span> <i class="bi bi-lock-fill me-2"></i></span>{{"Change Password" | translate}}</a>
      </li>
      <li>
        <a routerLink="/change-langauge" class="nav-link link-dark ">
          <span> <i class="bi bi-globe me-2"></i></span>  {{"Change Langauge" | translate}}
                </a>
      </li>
    </ul>
  </div>
