
 <div class="flex-shrink-0 p-3 bg-white card" style="width: 280px;">
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed"
      data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
        {{"My Requests" | translate}}
      </button>
      <div class="collapse" id="dashboard-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small d-block">

          <button class="btn-sm border-0 bg-white d-flex">
            <a routerLink="/representative-all-requests"
              class="link-dark rounded text-decoration-none">{{"all requests" | translate}}
            </a>
          </button>
        </ul>
      </div>
    </li>
    <li class=" border-top"></li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        {{"Accepted Quotes" | translate}}
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small d-block">
          <button class="btn-sm border-0 bg-white d-flex">
            <a routerLink=""
             class="link-dark rounded text-decoration-none">{{"on progress" | translate}}</a></button>
          <button class="btn-sm border-0 bg-white"><a
            routerLink=""
             class="link-dark rounded text-decoration-none">{{"Completed" | translate}}</a></button>

        </ul>
      </div>
    </li>
    <!-- <li class=" border-top"></li>
    <li class="mb-1">
      <button  routerLink=""
      class="btn  align-items-center rounded collapsed fw-semibold text-muted"
      data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
        Representatives
      </button>
    </li>
    <li class=" border-top"></li>
    <li class="mb-1">
      <button  routerLink="" class="fw-semibold text-muted btn  align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
        Customer Support
      </button>
    </li> -->

  </ul>
</div>
