
<div class="container">
  <div class="row">
<div class="col-12">
  <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
              <div class="header">
                  <h3 style="font-size:25px;" class="fw-bold mt-3 ms-2 text-center" >{{"CHATS" | translate}}</h3>


              </div>
              <div class="body">
                  <div class="table-responsive ">
                      <table
                          class="table table-bordered table-striped table-hover  dataTable"
                          >
                          <thead   style="background-color: #e4e1e1 !important;">

                              <th style=" color: black !important; padding: 10px;">{{"ID" | translate}}</th>
                              <th style=" color: black !important; padding: 10px;">{{"Title" | translate}}</th>
                              <th style=" color: black !important; padding: 10px;">{{"Name" | translate}}</th>
                              <th style=" color: black !important; padding: 10px;">{{"Image" | translate}}</th>
                              <th style=" color: black !important; padding: 10px;">{{"Date" | translate}}</th>
                              <th style=" color: black !important; padding: 10px;">{{"sender" | translate}}</th>

                          </thead>
                          <br>
                          <tbody *ngFor="let item of data" >

                              <tr >

                                  <td>{{item.id}}</td>
                                  <td>{{item.message}}</td>
                                  <td>{{item["sender"].name}}</td>
                                  <td><img src='{{item["sender"].image}}' class="w-25" alt=""></td>
                                  <td >{{item.date}}</td>
                                  <td>{{item.whoSend}}</td>

                              </tr>
                              <br>
                          </tbody>

                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
</div>
