<!-- 
<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-12">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row ">

           
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">             
                <form class="mx-1 mx-md-4 ">
                  <div class=" p-2 text-center cardhet ">
                    <h6>Activate Account</h6>
                    <p>you received sms at <span>123456789</span><br> 
                        <span style="color:#CA5135 ; font-weight: bold;">Change Number 
                        </span></p>
                 
                     <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2"> 
                        <input class="m-2 text-center form-control rounded" type="text" id="first" maxlength="1" />
                        <input class="m-2 text-center form-control rounded" type="text" id="second" maxlength="1" />
                        <input class="m-2 text-center form-control rounded" type="text" id="third" maxlength="1" />
                        <input class="m-2 text-center form-control rounded" type="text" id="fourth" maxlength="1" />
                        <input class="m-2 text-center form-control rounded" type="text" id="fifth" maxlength="1" />
                        <input class="m-2 text-center form-control rounded" type="text" id="sixth" maxlength="1" />
                     </div> 
                     <div class="mt-3"> 
                        <button class="btn  px-4 validate w-100" routerLink="/new-pass-otp">Confirm</button> 
                    </div> 
                </div>
                  <div class="d-flex justify-content-center mx-4 mt-3">
                  </div>
                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 text-center order-1 order-lg-2">
                <img src="../../../../assets/Logisty ui images/otp.png" class="" alt="Sample image">
                     
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->


<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-12">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row ">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 lh-lg">
                  <p class="text-center h2 fw-bold">Reset pasword</p>
                  <p class="text-center ">You received sms at number 123456789  
                   <br> <span  ><a  class="text-decoration-none" style="color:#C8523B ;" href="">Change Number</a> </span>
                   </p> 
                  
                   
                <form class="mx-1 mx-md-4" [formGroup]="resend" (ngSubmit)="resendClindeOtp(resend)">
                  <div class="d-flex flex-row align-items-center ">
                      <input type="text" formControlName="otp"  class="form-control" placeholder="Please OTP Your password" />
                    </div>
                  <div class="d-flex flex-row align-items-center ">
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" > New Password</label>
                      <input formControlName="password" type="password"  class="form-control" placeholder="Please Enter Your password" />
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center ">
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label my-2" >Confirm Password</label>
                        <input formControlName="password_confirmation" type="password"  class="form-control" placeholder="Please Re-Enter Your password" />
                      </div>
                    </div>


                  <div class="d-flex justify-content-center  mt-3">
                    <button  type="submit" class="validate btn  mt-3 w-100" [disabled]="resend.invalid">
                      Confirm                
                       </button>
                  </div>
                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7  col-sm-6 text-center order-1 order-lg-2">
                <img src="../../../../assets/Logisty ui images/forget-pass.png" class="w-75 ">
                     
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

