<form class="needs-validation mt-3">
    <swiper #swiper [virtual]="true" [preventClicksPropagation]="false" [simulateTouch]="false">
        <ng-template swiperSlide>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="country_origin_id" class="form-label">{{"Country" | translate}} *</label>
                        <select name="country_origin_id" id="country_origin_id" [(ngModel)]="item.country_origin_id"
                            class="form-select">
                            <option value="" disabled>Enter your Country</option>
                            <option *ngFor="let item of country" value="{{item.id}}">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="country_destination_id" class="form-label">{{"Destination" | translate}}</label>
                        <select name="country_destination_id" id="country_destination_id"
                            [(ngModel)]="item.country_destination_id" let class="form-select">
                            <option value="" disabled>Enter Tour Destination</option>
                            <option *ngFor="let item of city" value="{{item.id}}">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="flow" class="form-label">{{"The flow" | translate}}</label>
                        <select name="flow" id="flow" [(ngModel)]="item.flow" class="form-select">
                            <option value="" disabled>Enter your flow</option>
                            <option value="Export">Export</option>
                            <option value="Import">Import</option>
                        </select>
                    </div>

                    <div class="col-sm-6">
                        <label for="currency_id" class="form-label">{{"Currency" | translate}}</label>
                        <select name="currency_id" id="currency_id" [(ngModel)]="item.currency_id" class="form-select">
                            <option value="" disabled>Enter Your Currency</option>
                            <option *ngFor="let item of currencys" value="{{item.id}}">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="category_id" class="form-label">{{"Ticket Category" | translate}} *</label>
                        <select name="category_id" id="category_id" [(ngModel)]="item.category_id" class="form-select">
                            <option value="" disabled>Enter ticket category</option>
                            <option *ngFor="let item of cats" value="{{item.id}}">{{item.name}}</option>

                        </select>

                    </div>
                    <div class="col-sm-6">
                        <label for="language" class="form-label">{{"Language" | translate}}</label>
                        <select name="language" id="language" [(ngModel)]="item.language" class="form-select">
                            <option value="" disabled>Select The language</option>
                            <option value="en">en</option>
                            <option value="ar">ar</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6 "><button class="btn btn-primary" style="float: left;" (click)="slidePrev()">Prev</button></div>
                    <div class="col-md-6 "><button class="btn btn-success" [disabled]="!item.currency_id && !item.category_id" style="float: right;"(click)="slideNext()">{{"next"|translate}}</button></div>
                </div>
            </div>


        </ng-template>
        <ng-template swiperSlide>
            <div class="container">
                <div class="row mt-2">

                    <div class="col-md-12">
                        <h3 align="center">{{"Select Pickup" | translate}}</h3>
                        <agm-map [latitude]="latitude" [zoom]="5" [longitude]="longitude">
                            <agm-marker [markerDraggable]="true" (dragEnd)="onMapClicked($event)" [latitude]="latitude"
                                [longitude]="longitude">
                            </agm-marker>
                        </agm-map>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-6">
                        <label for="" class="form-label">{{"pickup location lat" | translate}}</label>
                        <input type="text" class="form-control" name="pickup_location_lat"
                            [(ngModel)]="item.pickup_location_lat" id="address2"
                            placeholder='{{"The pickup location lat must be at least 8 characters.." | translate}}'>
                    </div>
                    <div class="col-sm-6">
                        <label for="" class="form-label">{{"pickup location long" | translate}}</label>
                        <input type="text" class="form-control" name="pickup_location_long"
                            [(ngModel)]="item.pickup_location_long" id="address2"
                            placeholder='{{"The pickup location long must be at least 8 characters." | translate}}'>
                    </div>
                    
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6 "><button class="btn btn-primary" style="float: left;" (click)="slidePrev()">Prev</button></div>
                    <div class="col-md-6 "><button class="btn btn-success" [disabled]="!item.pickup_location_lat && !item.pickup_location_long" style="float: right;"(click)="slideNext()">{{"next"|translate}}</button></div>
                </div>
                

            </div>
            <br>



        </ng-template>
        <ng-template swiperSlide>
            <div class="container">
                <div class="col-md-12">
                    <h3 align="center">{{"Select Destination" | translate}}</h3>
                    <agm-map [latitude]="latitude_dest" [zoom]="5" [longitude]="longitude_dest">
                        <agm-marker [markerDraggable]="true" [latitude]="latitude" [longitude]="longitude"
                            (dragEnd)="onMapClicked_dest($event)"></agm-marker>
                    </agm-map>
                    
                    
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="" class="form-label">{{"destination location lat" | translate}}</label>
                        <input type="text" class="form-control" name="destination_location_lat"
                            [(ngModel)]="item.destination_location_lat" id="address2"
                            placeholder='{{"The destination location lat must be at least 8 characters." | translate}}'>
                    </div>
                    <div class="col-sm-6">
                        <label for="" class="form-label">{{"destination location long" | translate}}</label>
                        <input type="text" class="form-control" name="destination_location_long"
                            [(ngModel)]="item.destination_location_long" id="address2"
                            placeholder='{{"Enter the destination location long." | translate}}'>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6 "><button class="btn btn-primary" style="float: left;" (click)="slidePrev()">Prev</button></div>
                    <div class="col-md-6 "><button class="btn btn-success" [disabled]="!item.destination_location_lat && !item.destination_location_long" style="float: right;"(click)="slideNext()">{{"next"|translate}}</button></div>
                </div>

            </div>
            
        </ng-template>
        <ng-template swiperSlide>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="" class="form-label">{{"Good Category" | translate}}</label>
                        <select name="goods_country_origin_id" [(ngModel)]="item.goods_country_origin_id"
                            class="form-control">
                            <option value="" disabled>Select Good Category</option>
                            <option *ngFor="let item of goodcats" value="{{item.id}}">{{item.name}}</option>
                        </select>
                    </div>

                    <div class="col-sm-6">
                        <label for="lastName" class="form-label">{{"Quote Currency" | translate}}</label>
                        <select name="quote_currency_id" [(ngModel)]="item.quote_currency_id" class="form-control">
                            <option value="" disabled>Select quote Currency</option>
                            <option *ngFor="let item of currencys" value="{{item.id}}">{{item.name}}</option>
                        </select>
                    </div>

                    <div class="col-sm-6">
                        <label for="" class="form-label">{{"commercial reference" | translate}}</label>
                        <input type="text" class="form-control" name="commercial_reference"
                            [(ngModel)]="item.commercial_reference" id="address2"
                            placeholder='{{"The commercial reference must be at least 5 characters." | translate}}'>
                    </div>
                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">{{"Date" | translate}}</label><br>
                        <input type="date" name="estimated_date" [(ngModel)]="item.estimated_date"
                            min="{{currentDate | date:'yyyy-MM-dd'}}" class="form-control" placeholder="Date" />

                    </div>
                    <div class="col-sm-6">
                        <label for="address2" class="form-label">{{"value" | translate}}</label>
                        <input type="number" class="form-control" [(ngModel)]="item.value" name="value" id="address2"
                            placeholder='{{"Your value" | translate}}'>
                    </div>
                    <div class="col-sm-6">
                        <label for="address" class="form-label">{{"Problem Description" | translate}}</label>
                        <textarea type="text" class="form-control" [(ngModel)]="item.description" name="description"
                            id="address"
                            placeholder='{{"The description must be at least 10 characters." | translate}}'></textarea>

                    </div>
                    <div class="col-12">
                        <label for="address" class="form-label">{{"Attachment" | translate}}</label>
                        <div class="m-auto " style=" border: 1px solid black; height:150px ;">
                            <input (change)="helper.setFile($event, 'file[]', item)" name="src" multiple
                                accept="image/*" type="file" class="form-control hidden" /><br>
                            <label for="files" class="text-center" style="margin-left: 30% !important;">
                                {{"You can add attachments in the next field" | translate}}
                            </label><br>
                        </div>
                    </div>


                </div>
                <div style="margin-left: 25% !important;">
                    <button class="w-75 btn btn-primary  my-3 " [disabled]="!item.description" (click)="submit()" style="width:60% !important ;"
                        type="submit">{{"send" | translate}}</button>
                </div>
                <br>
            <div class="row">
                <div class="col-md-6 "><button class="btn btn-primary" style="float: left;" (click)="slidePrev()">Prev</button></div>
                
            </div>
            </div>
            

        </ng-template>
    </swiper>
</form>
<br>