
$basecolor:#57B8CE;
$secondColor:#021955;
$background:#FAFAFA;


.btn{
    background-color: $secondColor ;
    color: white;
}
  @media only screen and (max-width: 600px) {
    .btn {
   font-size: 8px;
   font-weight: 300;
    }
  }
  @media only screen and (max-width: 768px) {
    .btn {
      font-size: 10px;
      font-weight: 500;
       }
     }

     @media only screen and (max-width: 415px) {
      .btn {

     font-size: 4px;
     font-weight: 300;
      }
    }
    .btnBorder{
        border: 1px solid #021955 ;
    }

    .card-wapper{
      display: flex;
    }


    .card-contral{
      width: calc(100%/3);
    }
    @media only screen and (max-width: 600px) {
        .btn1 {
        font-size: 8px;
        font-weight: 300;
         }
       }
       @media only screen and (max-width: 768px) {
         .btn1 {
           font-size: 10px;
           font-weight: 500;
            }
          }

          @media only screen and (max-width: 415px) {
           .btn1 {

          font-size: 4px;
          font-weight: 300;
           }
         }
         .stepper-wrapper {
            margin-top: auto;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
          }
          .stepper-item {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;

            @media (max-width: 768px) {
              font-size: 12px;
            }
          }

          .stepper-item::before {
            position: absolute;
            content: "";
            border-bottom: 2px solid #ccc;
            width: 100%;
            top: 20px;
            left: -50%;
            z-index: 2;
          }

          .stepper-item::after {
            position: absolute;
            content: "";
            border-bottom: 2px solid #ccc;
            width: 100%;
            top: 20px;
            left: 50%;
            z-index: 2;
          }

          .stepper-item .step-counter {
            position: relative;
            z-index: 5;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #ccc;
            margin-bottom: 6px;
          }

          .stepper-item.active {
            font-weight: bold;
          }

          .stepper-item.completed .step-counter {
            background-color: #021955;
          }

          .stepper-item.completed::after {
            position: absolute;
            content: "";
            border-bottom: 2px solid #021955;
            width: 100%;
            top: 20px;
            left: 50%;
            z-index: 3;
          }

          .stepper-item:first-child::before {
            content: none;
          }
          .stepper-item:last-child::after {
            content: none;
          }
          .playColor{
            color: #021955;
          }
          .bi-briefcase{
            color:#C8523B ;
          }
          .btnBackground{
            background-image: url("../../../../assets/Logisty ui images/freepik--Symbols--inject-82.png");

            background-color: #021955;
            opacity: 0.9;
            background-size: contain;
            height: 60px;
            color: white;
          }

        .w-25{
          height: 30px;
          margin-top: 20px;
          margin-bottom: 20px;

        }

        .nav-link{

            width: 250px;
            font-size: 16px;

        }
        .nav-link:hover{

           color: #021955;

        }
         .borderDsing{
          border: #57B8CE solid 1px ;
          border-radius: 10px;
         }
