<section class="vh-100 " style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-4 ">
            <div class="row justify-content-center">
              <p class="text-center h2 fw-bold"> {{"register" | translate }}</p>

              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 ">
                <div class="fs-2 text-center my-3 ">
                  <i style="color: #3B5998;" class="bi bi-facebook me-5 "></i>
                  <i style="color:#CCD0D2;" class="bi bi-apple me-5 "></i>
                  <a href=""><img src="../../../../assets/Logisty ui images/google-svgrepo-com-2.png" alt=""
                      srcset=""></a>
                </div>
                <div *ngFor='let email of email' class="alert alert-danger">
                  <p>{{email}}</p>
                </div>

                <div *ngFor='let phone of phone' class="alert alert-danger">
                  <p>{{phone}}</p>
                </div>


                <form #f="ngForm" class="mx-1 mx-md-4" [formGroup]="regsiterForm" (ngSubmit)="submitRegister(regsiterForm)">
                  <div class="d-flex flex-row align-items-center ">
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label">{{"FullName" | translate }}  </label>
                      <input formControlName="name" type="text" class="form-control" />
                      <div
                        *ngIf="regsiterForm.get('name')?.errors != null && regsiterForm.get('name')?.touched"
                        class="alert-danger my-2 mx-3">
                        <p class="error" *ngIf="regsiterForm.get('name')?.errors?.['required']">Full Name is required</p>
                        <p class="error" *ngIf="regsiterForm.get('name')?.errors?.['minLength']">The least number of letters is 2</p>
                        <p class="error" *ngIf="regsiterForm.get('name')?.errors?.['maxLength']">The max number of letters is 150</p>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center ">
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label">{{"Email" | translate }} </label>
                      <input formControlName="email" type="email" class="form-control" />
                      <div *ngIf="regsiterForm.get('email')?.errors != null && regsiterForm.get('email')?.touched"
                        class="alert-danger my-2 mx-3">
                        <p class="error" *ngIf="regsiterForm.get('email')?.errors?.['required']">Email is required</p>
                        <p class="error" *ngIf="regsiterForm.get('email')?.errors?.['email']">Email is invalid </p>

                      </div>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center ">
                    <div class="form-outline flex-fill mb-0 my-2">
                      <label class="form-label "> {{"Phone" | translate }} </label>
                      <!-- <input formControlName="email" type="email" class="form-control" /> -->

                      <ngx-intl-tel-input
                      [cssClass]="'form-control'"
                        [preferredCountries]="preferredCountries"
                        [enableAutoCountrySelect]="true"
                        [enablePlaceholder]="false"
                        [searchCountryFlag]="true"
                        [searchCountryField]="[
                        SearchCountryField.Iso2,
                        SearchCountryField.Name]"
                        [selectFirstCountry]="false"
                        [selectedCountryISO]="CountryISO.Egypt"
                        [maxLength]="20" [phoneValidation]="true"
                        [separateDialCode]="separateDialCode"
                        [numberFormat]="PhoneNumberFormat.National"
                         name="phone"
                        formControlName="phone"
                         style="height: 55px;">
                      </ngx-intl-tel-input>

                    </div>
                  </div>


                  <div class="d-flex flex-row align-items-center ">
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label">{{"Password" | translate }}</label>
                      <!-- <input formControlName="password" type="password" class="form-control" /> -->
                      <mat-form-field style="width: 100%;" appearance="fill" >
                        <input  matInput [type]="showPassword ? 'text' : 'password'" formControlName="password" class="">
                          <mat-icon matSuffix (click)="togglePasswordVisibility()">
                              {{showPassword?'visibility_off':'visibility'}}
                          </mat-icon>
                      </mat-form-field>
                      <div *ngIf="regsiterForm.get('password')?.errors != null && regsiterForm.get('password')?.touched"   class="alert-danger my-2 mx-3">
                        <p class="error" *ngIf="regsiterForm.get('password')?.errors?.['required']">password is required</p>
                        <p class="error" *ngIf="regsiterForm.get('password')?.errors?.['minLength']"> The minimum number of digits in the password is 8 digits</p>
                        <p class="error" *ngIf="regsiterForm.get('password')?.errors?.['maxLength']"> The maximum number of digits in the password is 25 digits </p>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-2">
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label">{{"ConfirmPassword" | translate }} </label>
                      <!-- <input formControlName="password_confirmation" type="password" class="form-control" (keyup)="checkPasswordMatch()" /> -->
                      <mat-form-field style="width: 100%;" appearance="fill" >
                        <input  matInput [type]="showPassword ? 'text' : 'password'" (keyup)="checkPasswordMatch()" formControlName="password_confirmation" class="">
                          <mat-icon matSuffix (click)="togglePasswordVisibility()">
                              {{showPassword?'visibility_off':'visibility'}}
                          </mat-icon>
                      </mat-form-field>
                    <p class="error" *ngIf="!isMatching">Password and confirm not match</p>


                    </div>
                  </div>
                  <div class="d-flex justify-content-center mx-4 mt-3">
                    <button type="submit" [disabled]='regsiterForm.invalid'
                      class="btn btn-primary btn-lg w-100">{{"btnRegister" | translate }}</button>
                  </div>

                  <p class="text-center mt-2">{{"youhaveaccount"| translate }}؟ <a routerLink="/log-in">{{"Login" | translate }}  </a></p>
                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 text-center order-1 order-lg-2">
                <img src="../../../../assets/Logisty ui images/Sign up-cuate.svg" class="w-75 mt-5">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
