<div class="container">

  <div class="row">
    <div class="col-3 ">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col-9 ">

      <h2 class="text-start">{{"International Service" | translate}}</h2>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-12 align-items-md-center ">
        <div class="  card-body bg-white ">


            <div class="row">
              <div class=" col-4 ">
                <button class="btn btn-secondary" routerLink="/sea-new-request" type="button"
                style="margin-left: 10%; position: absolute;top:40%;"
               >
                <span class="mdi mdi-ferry" style="color: white;"></span>
                  {{"Sea Freight" | translate}}
                </button>

              </div>

              <div class="col-4  ">
                <button class="btn btn-secondary  " routerLink="/air-new-request" type="button"
                style="margin-left: 10%; position: absolute;top: 40%;"
                 >
                  <span class="mdi mdi-airplane-takeoff" style="color: white;"></span>
                  {{"Air Freight" | translate}}
                </button>
              </div>

              <div class="col-4  ">
                <button class="btn btn-secondary " routerLink="/new-request" type="button"
                style="margin-left: 10%; position: absolute;top: 40%;"
                 >
                  <span class="mdi mdi-file-check-outline" style="color: white;"></span>
                  {{"Customs Clearnce" | translate}}
                </button>
              </div>
            </div>
            <img class="w-100" src="../../../../../assets/Logisty ui images/world.svg" alt="" srcset="">


        </div>
      </div>
    </div>


  </div>
</div>
<section class=" container-fluid w-100">
  <app-footer></app-footer>
</section>
