<section class="sectiontwoIamg ">
    <div class=" container">
      <div class="row">
        <div class="col-12 text-center mt-5">
          <h2 class="addries "> <span><i class="bi bi-briefcase-fill" style="color: black;"></i></span> {{ "HowWeWork" | translate }}</h2>

   <div class="py-3">
           <p >{{ "thisTextforTexting2" | translate }}  </p>
             <p>{{ "thisTextforTexting" | translate }}  </p>

   </div>
          <!-- <ul class="nav nav-pills   " id="pills-tab" role="tablist">
          <div class=" " style="background-color: red;">
            <li class="nav-item " role="presentation"> -->
              <button col-4 class="btn w-25 "
               id="pills-contact-tab" data-bs-toggle="pill"
                data-bs-target="#pills-contact" type="button" role="tab"
                aria-controls="pills-contact"
                aria-selected="false">{{ "customssupplycompany" | translate }}

              </button>
            <!-- </li>
          </div> -->

           <!-- <div class="  " >
             <li class="nav-item  "  role="presentation"> -->

               <button col-4 class=" btn w-25  " id="pills-profile-tab"
                data-bs-toggle="pill" data-bs-target="#pills-profile"
                type="button" role="tab" aria-controls="pills-profile"
                 aria-selected="false">{{ "CustomsBroker" | translate }}
                </button>

             <!-- </li>
           </div>

       <div class="  ">
             <li class="nav-item  " role="presentation"> -->
               <button col-4 class=" btn w-25 " id="pills-home-tab"
                data-bs-toggle="pill" data-bs-target="#pills-home"
                 type="button" role="tab" aria-controls="pills-home"
                  aria-selected="true">{{ "imported" | translate }}
                </button>
                <div class="container1">
                  <div class="circle">
                  </div>
                </div>


             <!-- </li>
       </div>
          </ul> -->

          <div class="tab-content text-center active" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
            aria-labelledby="pills-home-tab">
              <div class="row" >
                <div class="col-12 p-4  bg-white card mt-5">
                <div>
                    <p>{{ "As a supplier or importer, you can do the following during the site" |  translate}}</p>
                    <img src="../../../../assets/Logisty ui images/svg icons/noun_play_906231.svg" alt="play-icon" >
                    <h3 class="mt-3">{{ "Create a new request"| translate }}</h3>
                    <p >{{ "You can create a new request by filling in the required information" | translate }}</p>
                </div>
                  <div class="row">
                    <div class="col-4">
                      <div >
                        <img class="d-flex flex-column  mb-4 m-auto w-auto" src="../../../../assets//Logisty ui images/svg icons/Group15163.svg" alt="" srcset="">
                        <img class="d-flex flex-column  mb-4 m-auto w-auto" src="../../../../assets/Logisty ui images/svg icons/Group 15162.svg"  alt="" srcset="">
                      </div>
                      <h4>{{"Browse offer" |  translate}}</h4>
                      <p>{{"Find the service you need using Search box at the top or across categories" |  translate}}</p>

                    </div>
                    <div class="col-4">
                      <img class="d-flex flex-column  mb-4 m-auto w-auto"  src="../../../../assets/Logisty ui images/svg icons/Group 15161.svg"  alt="" srcset="">
                      <img class="d-flex flex-column  mb-4 m-auto w-auto" src="../../../../assets//Logisty ui images/svg icons/Group 4509.svg" alt="" srcset="">
                    </div>
                    <div class="col-4">
                      <img class="d-flex flex-column  mb-4 m-auto w-auto"  src="../../../../assets//Logisty ui images/svg icons/Group 15164.svg" alt="" srcset="">
                      <img class="d-flex flex-column  mb-4 m-auto w-auto" src="../../../../assets/Logisty ui images/svg icons/Group 15160.svg" alt="" srcset="">
                      <h4>{{"Browse offer" |  translate}}</h4>

                      <p>{{"Find the service you need using Search box at the top or across categories" |  translate}}</p>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

              <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
              aria-labelledby="pills-home-tab">
                <div class="row" >
                  <div class="col-12 p-4  bg-white card mt-5">
                  <div>
                      <p>{{ "As a supplier or importer, you can do the following during the site" |  translate}}</p>
                      <img src="../../../../assets/Logisty ui images/svg icons/noun_play_906231.svg" alt="play-icon" >
                      <h3 class="mt-3">{{ "Create a new request"| translate }}</h3>
                      <p >{{ "You can create a new request by filling in the required information" | translate }}</p>
                  </div>
                    <div class="row">
                      <div class="col-4">
                        <div >
                          <img class="d-flex flex-column  mb-4 m-auto w-auto" src="../../../../assets//Logisty ui images/svg icons/Group15163.svg" alt="" srcset="">
                          <img class="d-flex flex-column  mb-4 m-auto w-auto" src="../../../../assets/Logisty ui images/svg icons/Group 15162.svg"  alt="" srcset="">
                        </div>
                        <h4>{{"Browse offer" |  translate}}</h4>
                        <p>{{"Find the service you need using Search box at the top or across categories" |  translate}}</p>

                      </div>
                      <div class="col-4">
                        <img class="d-flex flex-column  mb-4 m-auto w-auto"  src="../../../../assets/Logisty ui images/svg icons/Group 15161.svg"  alt="" srcset="">
                        <img class="d-flex flex-column  mb-4 m-auto w-auto" src="../../../../assets//Logisty ui images/svg icons/Group 4509.svg" alt="" srcset="">
                      </div>
                      <div class="col-4">
                        <img class="d-flex flex-column  mb-4 m-auto w-auto"  src="../../../../assets//Logisty ui images/svg icons/Group 15164.svg" alt="" srcset="">
                        <img class="d-flex flex-column  mb-4 m-auto w-auto" src="../../../../assets/Logisty ui images/svg icons/Group 15160.svg" alt="" srcset="">
                        <h4>{{"Browse offer" |  translate}}</h4>
                      <p>{{"Find the service you need using Search box at the top or across categories" |  translate}}</p>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
              <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
              aria-labelledby="pills-home-tab">
                <div class="row" >
                  <div class="col-12 p-4  bg-white card mt-5">
                  <div>
                      <p>{{ "As a supplier or importer, you can do the following during the site" |  translate}}</p>
                      <img src="../../../../assets/Logisty ui images/svg icons/noun_play_906231.svg" alt="play-icon" >
                      <h3 class="mt-3">{{ "Create a new request"| translate }}</h3>
                      <p >{{ "You can create a new request by filling in the required information" | translate }}</p>
                  </div>
                    <div class="row">
                      <div class="col-4">
                        <div >
                          <img class="d-flex flex-column  mb-4 m-auto w-auto" src="../../../../assets//Logisty ui images/svg icons/Group15163.svg" alt="" srcset="">
                          <img class="d-flex flex-column  mb-4 m-auto w-auto" src="../../../../assets/Logisty ui images/svg icons/Group 15162.svg"  alt="" srcset="">
                        </div>
                        <h4>تصفح العرض</h4>
                        <p>ابحث عن الخدمه التى تحتاجها بتسخدام <br>
                        مربع البحث فى الاعلى او عبر التصنيفات</p>
                      </div>
                      <div class="col-4">
                        <img class="d-flex flex-column  mb-4 m-auto w-auto"  src="../../../../assets/Logisty ui images/svg icons/Group 15161.svg"  alt="" srcset="">
                        <img class="d-flex flex-column  mb-4 m-auto w-auto" src="../../../../assets//Logisty ui images/svg icons/Group 4509.svg" alt="" srcset="">
                      </div>
                      <div class="col-4">
                        <img class="d-flex flex-column  mb-4 m-auto w-auto"  src="../../../../assets//Logisty ui images/svg icons/Group 15164.svg" alt="" srcset="">
                        <img class="d-flex flex-column  mb-4 m-auto w-auto" src="../../../../assets/Logisty ui images/svg icons/Group 15160.svg" alt="" srcset="">
                        <h4>تصفح العرض</h4>
                        <p>ابحث عن الخدمه التى تحتاجها بتسخدام <br>
                        مربع البحث فى الاعلى او عبر التصنيفات</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>
      <footer class="container-fluid mt-4">
       <button class="backgroudImgsection2 img-fluid " routerLink="/learn-about-us">{{ "learn More"| translate }}</button>

    </footer>
    </div>


  </section>
