<h1 class="text-center pt-5">{{"Accepted Qoutation Succssfully !" | translate}}</h1>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="container-fluid">
  <div class="row pt-4" >
    <div class=" col-lg-3" >
      <div class="card">
        <h1>{{"Payment" | translate}}</h1>
        <a [routerLink]='["/new-cpayment" ,this.order_id]' class="text-decoration-none">{{"New Payment" | translate}}</a><br>
        <a routerLink="/all-cpaymetns" class="text-decoration-none">{{"All Payments" | translate}}</a>
        <img src="../../../../assets/Logisty ui images/payment.jpg"
                                  alt="" class="m-auto"
                                  style="width: 80px; border-radius: 10px;">
      </div>

    </div>

    <div class=" col-lg-2" >
      <div class="card">
        <h1>{{"Chat" | translate}}</h1>
        <a [routerLink]='["/new-cchat",this.order_id ]' class="text-decoration-none">{{"Add New Chat" | translate}}</a><br>
        <a [routerLink]='["/all-cchats",this.order_id]' class="text-decoration-none">{{"All Chats" | translate}}</a>
        <img src="../../../../assets/Logisty ui images/chat.jpg"
        alt="" class="m-auto"
        style="width: 80px; border-radius: 10px;">
      </div>
    </div>

    <div class="col-lg-2" >
      <div class="card">
        <h1>{{"Rate" | translate}}</h1>
        <a [routerLink]='["/new-crate",this.supplier_id ]' class="text-decoration-none">{{"Add New Rate" | translate}}</a><br>
        <a routerLink="/all-crates" class="text-decoration-none">{{"All Rates" | translate}}</a>
        <img src="../../../../assets/Logisty ui images/rate.webp"
        alt="" class="m-auto"
        style="width: 80px; border-radius: 10px;">
      </div>
    </div>

    <div class="col-lg-2" >
      <div class="card">
        <h1>{{"notification" | translate}}</h1>
        <a routerLink="/all-cnotifications" class="text-decoration-none">{{"All Notifications" | translate}}</a>
        <img  src="../../../../assets/Logisty ui images/notification .webp"
        alt="" class="m-auto pt-3"
        style="width: 80px; border-radius: 10px;">
      </div>
    </div>

    <div class="col-lg-3 "style="" >
      <div class="card">
        <h1>{{"Tracking" | translate}}</h1>
        <a [routerLink]='["/ctrack",this.order_id]' class="text-decoration-none">{{"track this Order" | translate}}</a>
        <img  src="../../../../assets/Logisty ui images/track.png"
        alt="" class="m-auto pt-3"
        style="width: 80px; border-radius: 10px;">
      </div>
    </div>
  </div>

</div>

</body>
</html>


