<div class=" container">
  <div class="row">
    <div class="col-3 ">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-9 ">

      <h2 class="text-start">{{"Services" | translate}}</h2>
      
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-12 align-items-md-center " >
        <div class="  card-body bg-white ">
          <div class="text-start ">
            <!-- <h3 class="fw-bold ms-2">REQUESTS LOCATIONS</h3> -->
            <!-- <p class="ms-2">15 requests </p> -->
            <button class="btn btn-secondary " style="margin-left: 30%;"
              routerLink="/local-service" type="button" aria-expanded="false">
              {{"local service" | translate}}</button>
            <button class="btn btn-secondary " style=" margin-left: 20px !important; "
              routerLink="/international-service" type="button">
              {{"international service" | translate}}</button>
            <img class="w-100" src="../../../../../assets/Logisty ui images/world.svg" alt="" srcset="">

          </div>
        </div>
      </div>
    </div>


  </div>
</div>
<br>
<br>
