

<div class="container">
  <div class="row">
    <div class="col-3">
        <app-company-side-bar></app-company-side-bar>
    </div>
      <div class="col-9 ">
          <div class="row my-3 ">
              <form class="example d-flex justify-content-between ">
         <button class="btn w-25 border-1 ">All</button>
         <button class="btn w-25 border-1  ">Accepted</button>
         <button class="btn w-25 border-1">Rejected</button>
         <button class="btn w-25 border-1">Pending</button>
                </form>
          </div>
          <div class="card mb-4">
              <div class="card-body table-responsive">
             
                  <table class="table table-hover table-striped   table-borderless table-responsive ">
                      <thead class="mdb-color darken-3 ">
                          <tr class="text-white">
                              <th>Status</th>
                              <th>Flow</th>
                              <th>Origin</th>
                              <th>Distination</th>
                              <th>Required Service</th>
                              <th>#</th>
                          </tr>
                      </thead>
                 
                      <tbody>
                          <tr>
                              <th >send</th>
                              <td>Export</td>
                              <td>EGY</td>
                              <td>KSA</td>
                              <td>C.C</td>
                           
                              <td><a routerLink="/company-completed-detalis" ><i  class="bi bi-info-circle"></i>
                              </a></td>
                          </tr>
                          <tr>
                              <th >send</th>
                              <td>Export</td>
                              <td>EGY</td>
                              <td>KSA</td>
                              <td>C.C</td>
                           
                              <td><a ><i class="bi bi-info-circle"></i>
                              </a></td>
                          </tr>
                        
                          <tr>
                              <th >send</th>
                              <td>Export</td>
                              <td>EGY</td>
                              <td>KSA</td>
                              <td>C.C</td>
                           
                              <td><a ><i class="bi bi-info-circle"></i>
                              </a></td>
                          </tr>
                        
                          <tr>
                              <th >send</th>
                              <td>Export</td>
                              <td>EGY</td>
                              <td>KSA</td>
                              <td>C.C</td>
                           
                              <td><a ><i class="bi bi-info-circle"></i>
                              </a></td>
                          </tr>
                        
                          <tr>
                              <th >send</th>
                              <td>Export</td>
                              <td>EGY</td>
                              <td>KSA</td>
                              <td>C.C</td>
                           
                              <td><a ><i class="bi bi-info-circle"></i>
                              </a></td>
                          </tr>
                        
                          <tr>
                              <th >send</th>
                              <td>Export</td>
                              <td>EGY</td>
                              <td>KSA</td>
                              <td>C.C</td>
                           
                              <td><a ><i class="bi bi-info-circle"></i>
                              </a></td>
                          </tr>
                        
                          
                      </tbody>
               
                  </table>
              
              </div>
          </div>
      </div>
  </div>
  
</div>
          



