<div class=" container">
  <div class="row ">
    <div class="col-12 text-center">
      <h2 class="addries "><span>
          <img class="mb-3 ms-2" src="../../../../assets/Logisty ui images/svg icons/noun_questions_561512.png" alt=""
            srcset="">
        </span> {{ "commonquestions" | translate }}</h2>
      <p> {{ "thisTextforTexting" | translate }}</p>
      <p>{{ "thisTextforTexting2" | translate }}</p>
    </div>
  </div>
</div>


<div class=" container my-4">
  <div class="row">
    <div class="col-4">
      <div class="  mb-1 card" id="v-pills-tab" role="tablist" aria-orientation="vertical" *ngFor="let qes of question">

        <button class="text-end card-body  " id="v-pills-home-tab" data-bs-toggle="pill"
          data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"
          (click)="getid(qes.id)">{{ qes.name }}</button>
      </div>
    </div>
    <div class="tab-content col-8" id="v-pills-tabContent">
      <div class="tab-pane fade show active " id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"
        tabindex="0" *ngFor="let qesDetalis of questionDetalis">
        <div class="accordion " id="accordionExample">
          <div class="accordion-item ">
            <h2 class="accordion-header " id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                {{ qesDetalis.question }}
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {{ qesDetalis.answer }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
