<div class=" container p-5">
  <div class="row">
      <div class="col-9">
          <section class="">
              <div class="container ">
                <div class="row d-flex justify-content-center align-items-center">
                  <div class="col col-xl-12">
                    <div class="card mb-3" style="border-radius: 15px;">
                      <div class="card-body ">
                          <button class="btn btn-success float-end">Solved</button>
                        <h3 class="mb-3">Ticket Details</h3>
                        <hr>
                        <p class=" mb-0 fw-bold fs-5">I have a problem in payment </p>
                        <hr class="my-4">
                        <div class="d-flex justify-content-around align-items-center">
                          <p class="mb-0 text-uppercase"><span
                              class="text-muted small">Section <br> Payment</span></p>
                          <p class="mb-0 text-uppercase"><span

                              class="text-muted small">Type <br> Problem</span></p>
                          <p class="mb-0 text-uppercase  "> <span
                              class="text-muted small">Priority<br>High</span>

                        </div>
                        <hr class="my-4">
                        <div class="d-flex justify-content-around align-items-center">
                          <p class="mb-0 text-uppercase"><span
                              class="text-muted small">Total Rate</span></p>
                          <p class="mb-0 text-uppercase"> <span
                              class="text-muted small">Replies</span></p>
                          <p class="mb-0 text-uppercase"><i class="fas fa-ellipsis-h ms-4 me-2"></i> <span
                              class="text-muted small">Fast Response</span></p>
                              <p class="mb-0 text-uppercase"><i class="fas fa-ellipsis-h ms-4 me-2"></i> <span
                                  class="text-muted small">Customer support</span></p>

                        </div>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
            </section>
      </div>
      <div class="col-3">
          <section class="card-body">
              <div class="container ">
                <div class="row ">
                  <div class="col-12 col-md-12 col-lg-12 col-xl-12 bg-white">
                    <div class="" style="border-radius: 15px;">
                      <div class="">
                        <div class="d-flex text-black">
                          <div class="flex-shrink-0">
                            <img src="../../../../assets/Logisty ui images/Group 14437.jpg"
                              alt="" class="py-2"
                              style="width: 50px; border-radius: 10px;">
                          </div>
                          <div class="flex-grow-1 ms-3 py-2  text-black ">
                              <h5 class="mb-1 fw-bold">ahmed ali</h5>
                              <p class="fw-light ">Support</p>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section class="mt-3" >
              <div class="container  ">
                <div class="row d-flex justify-content-center align-items-center ">
                  <div class=" col-12 col-md-12 col-xl-12">

                    <div class="bg-white" style="border-radius: 15px;">
                      <div class="text-center">
                        <div class="mt-2 mb-4">
                          <img src="../../../../assets/Logisty ui images/Group 14437.jpg"
                            class="rounded-circle " style="width: 80px;" />
                          <div class="mt-3">
                                <h4 class="fw-bold ">ahmed ail</h4>
                                <p>Customer Support</p>
                          </div>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </section>
      </div>
  </div>
</div>
<section>

  <div class="container">
    <div class="row ps-5" >
        <div class="col-9 card mt-2" *ngFor="let item of data" >
            <div class="" style="border-radius: 15px;">
                <div  class="">
                  <div class="d-flex text-black">
                    <div class="flex-shrink-0">
                      <img src="../../../../assets/Logisty ui images/Group 14437.jpg"
                        alt="" class="py-2"
                        style="width: 50px; border-radius: 10px;">
                    </div>
                    <div class="flex-grow-1 ms-3 py-2">
                      <h5 class="mb-1 fw-bold fs-6">ahmed ali</h5>
                      <!-- <p class="fw-light ">{{item.comment}}</p> -->
                      <p>{{item.comment}}</p>

                    </div>
                  </div>
                </div>
              </div>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam aliquid molestiae impedit repellendus asperiores tenetur?</p>
                <hr>
                <p><img src="{{item.file}}"  width="40px" height="40px" alt="file"></p>
                <td>
                  <button class="btn btn-outline-danger" (click)="destroy(item.id)">
                    <i class="bi bi-trash"></i>
                   </button>
                  </td>
        </div>


       <form  >
        <label for="" class="fw-bold fs-4 my-3">{{"Add reply" | translate}}</label><br>
        <textarea name="comment" [(ngModel)]="item.comment"  cols="50" rows="5"  placeholder=""></textarea>
        <div class="col-12">
          <label for="" class="fw-bold fs-6 mt-2">{{"add file" | translate}}</label>
          <div class=" " style=" border: 1px solid black; height:130px ; width: 380px;">
                <input  (change)="helper.setFile($event, 'src', item)"  name="src" multiple accept="image/*" type="file"
                class="form-control hidden"   /><br>
                <label for="files" class="text-center" style="margin-left: 17% !important;">
                  {{"You can add attachments in the next field" | translate}}
                 </label><br>
               </div>
        </div>
        <button class="w-50 btn btn-primary  my-3 " (click)="submit()" style="width:30% !important ;" type="submit">
          {{"send" | translate}}</button>

       </form>
    </div>
</div>
</section>
<section class="mt-5">
  <app-footer></app-footer>
</section>
