<div class="container  ">
  <div class="row mt-2">
      <div class="col-2"></div>
    <div class="col-md-12 col-lg-8  bg-white card">
      <form class="needs-validation mt-3"  >
        <div class="row g-4 ps-4">
          <label  class="form-label mb-0" >{{"Add New Service Files" | translate}}</label>
          <hr class="mt-1 ">
          <div class="col-sm-6">
            <label  class="form-label">{{"Services" | translate}}</label>
            <select   [(ngModel)]="item.service_id" name="service_id" class="form-control">
              <option value="" disabled>Select The service</option>
              <option *ngFor="let item of Service" value="{{item.id}}">{{item.name}}</option>
            </select>
          </div>

          <div class="col-12">
              <label for="address" class="form-label">{{"Attachment" | translate}}</label>
                   <div class="m-auto " style=" border: 1px solid black; height:150px ;">
                    <input

                     (change)="helper.setFile($event, 'meanviest', item)"  name="meanviest"
                    multiple accept="image/*" type="file"
                    class="form-control hidden"   /><br>
                    <label for="files" class="text-center" style="margin-left: 30% !important;">
                      {{"You can add attachments in the next field" | translate}}
                     </label><br>
                   </div>
            </div>
        </div>
        <div  style="margin-left: 25% !important;">
          <button  (click)="submit()" class="w-75 btn btn-primary  my-3 " style="width:60% !important ;"
           type="submit">{{"send" | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>


