
<div class="container">
  <div class="row">
      <div class="col-3"><app-sidebar></app-sidebar></div>
      <div class="col-9">
          <div class="row my-3">
              <form class="example d-flex justify-content-between ">
               <div class="d-flex">
                     <input type="text" placeholder='{{"Search.." | translate}}'  name="search" class="w-100 fw-bold form-control">
                     <button class=" btn bi1 bi bi-search" type="submit"></button>
               </div>
                <div class=" d-flex ">

                    <select class="form-select-sm form-select me-5 "aria-label="Default select example">
                        <option selected>{{"Status" | translate}}</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                      <select class="form-select-sm form-select me-5" aria-label="Default select example">
                        <option selected>{{"flow" | translate}}</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>
                </form>
          </div>
          <div class="card mb-4">
            <h2 class="text-center">{{"Air Freight Requests" | translate}}</h2>
              <div class="card-body table-responsive">
                  <!--Table-->
                  <table class="table table-hover table-striped   table-borderless table-responsive ">
                      <!--Table head-->
                      <thead class="mdb-color darken-3 ">
                          <tr class="text-white">
                              <th>{{"Status" | translate}}</th>
                              <th>{{"City" | translate}}</th>
                              <th>{{"Origin" | translate}}</th>
                              <th>{{"Currency" | translate}}</th>
                              <th>{{"Category" | translate}}</th>
                              <th>{{"Code" | translate}}</th>
                              <th>#</th>
                              <th>{{"details" | translate}}</th>
                              <th><i class="bi bi-x-circle-fill"></i></th>
                          </tr>
                      </thead>
                      <!--Table head-->
                      <!--Table body-->
                      <tbody *ngFor="let item of data; let i = index">
                          <tr>
                              <th >{{item.status}}</th>
                              <td>{{item.pickup_city_name}}</td>
                              <td>{{item.goods_country_origin_name}}</td>
                              <td>{{item.currency_name}}</td>
                              <td>{{item.category_name}}</td>
                              <td>{{item.code}}</td>
                              <td><a [routerLink]='["/requst-details",i+1]'><i class="bi bi-info-circle"></i>
                              </a></td>

                              <td><a [routerLink]='["/air-details",item.order_id]'><i class="bi bi-info-circle"></i>
                              </a></td>
                              <td>
                                <a  (click)="destroy(item.order_id)">
                                  <i class="bi bi-trash"></i>
                                 </a>
                                </td>
                          </tr>



                      </tbody>
                      <!--Table body-->
                  </table>
                  <!--Table-->
              </div>
          </div>
      </div>
  </div>

</div>

