
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100 mt-3">
        <div class="col-lg-12 col-xl-11">
          <h3>New Representative</h3>
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-4">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 ">
                  <form >
                    <div class="row justify-content-center ">
                      <button style="border:none;width: 50px;background-color:white;" class="rounded-circle" >
                        <img   src="../../../../assets/Logisty ui images/Ellipse 259.jpg"  alt="">
                        <input class="rounded-circle" style="display: none;background-color: white;"type="file" #fileInput >
                      <div class="rounded-circle" style="background: #00A311 0% 0% no-repeat padding-box;
                      border: 3px solid #F0F6FA;
                      opacity: 1;width: 32px; height: 32px;  left: 660px;
                      right: 282px; top: 100px; color: white;font-size: 30px; position: absolute; text-align: center; padding: 1px;">+</div>
                      </button>

                    </div>



                    <div class="form-outline mb-4">
                      <label class="form-label">{{"Name" | translate}}</label>
                      <input name="name" [(ngModel)]="item.name"
                       type="text" class="form-control" />
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label">{{"Email" | translate}}</label>
                        <input name="email" [(ngModel)]="item.email"
                         type="email" class="form-control" />
                      </div>
                  <div class="d-flex">
                        <div class="form-outline mb-4 me-3">
                          <label class="form-label">{{"Password" | translate}}</label>
                          <input name="password" [(ngModel)]="item.password"
                           type="Password" class="form-control" />
                        </div>
                        <div class="form-outline mb-4">
                          <label class="form-label">{{"Confirm password" | translate}}</label>
                          <input name="password_confirmation" [(ngModel)]="item.password_confirmation"
                           type="password" class="form-control" />
                        </div>
                  </div>

                    <div class="form-outline mb-4">
                      <label class="form-label">{{"PHONE" | translate}}</label>
                      <input name="phone" [(ngModel)]="item.phone"
                       type="text" class="form-control" />
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label">{{"about" | translate}}</label>
                      <input name="about" [(ngModel)]="item.about"
                       type="text" class="form-control" />
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label">{{"address" | translate}}</label>
                      <input name="address" [(ngModel)]="item.address"
                       type="text" class="form-control" />
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label">{{"age" | translate}}</label>
                      <input name="age" [(ngModel)]="item.age"
                       type="number" class="form-control" />
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label">{{"GENDER" | translate}}</label>
                      <select name="gender" [(ngModel)]="item.gender" id="" class="form-control">
                        <option value="1">male</option>
                        <option value="2">female</option>
                      </select>

                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label">{{"language" | translate}}</label>
                      <select name="language" [(ngModel)]="item.language" id="" class="form-control">
                        <option value="en">en</option>
                        <option value="ar">ar</option>
                      </select>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label">{{"Allow notufication" | translate}}</label>
                      <select name="allow_notification" [(ngModel)]="item.allow_notification" id="" class="form-control">
                        <option value="1">YES</option>
                        <option value="2">NO</option>
                      </select>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label">{{"mail notification" | translate}}</label>
                      <select name="mail_notification" [(ngModel)]="item.mail_notification" id="" class="form-control">
                        <option value="1">YES</option>
                        <option value="2">NO</option>
                      </select>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label">{{"status" | translate}}</label>
                      <select  name="status" [(ngModel)]="item.status" class="form-control">
                        <option value="">select staus</option>
                        <option value="1">pending</option>
                        <option value="2">Active</option>
                        <option value="3">Disabled</option>

                       </select>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label">{{"service" | translate}}</label>
                      <select   [(ngModel)]="item.service_id" name="service_id" class="form-control">
                        <option value="" disabled>Select The service</option>
                        <option *ngFor="let item of Service" value="{{item.id}}">{{item.name}}</option>
                      </select>
                    </div>

                    <div class="form-outline mb-4">
                      <label class="form-label">{{"country" | translate}}</label>
                      <select   [(ngModel)]="item.country_id" name="country_id" class="form-control">
                        <option value="" disabled selected>Enter your Country</option>
                        <option *ngFor="let item of country" value="{{item.id}}">{{item.name}}</option>
                      </select>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label">{{"city" | translate}}</label>
                      <select   [(ngModel)]="item.city_id" name="city_id" class="form-control">
                        <option value="" disabled>Enter Tour Destination</option>
                        <option *ngFor="let item of city" value="{{item.id}}">{{item.name}}</option>
                      </select>
                    </div>
                    <button type="submit" (click)="submit()" class="btn  btnDsing w-50 float-end">
                      {{"Finish" | translate}}</button>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
