
 <div class="flex-shrink-0 p-3 bg-white card" style="width: 280px;">
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          {{"My Requests" | translate}}
        </button>
        <div class="collapse" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small d-block">
            <button class="btn-sm border-0 bg-white d-flex">
              <a routerLink="/company-new-requests"
               class="link-dark rounded text-decoration-none">{{"new request" | translate}}</a>
            </button>
            <button class="btn-sm border-0 bg-white d-flex">
              <a routerLink="/company-all-requests"
                class="link-dark rounded text-decoration-none">{{"pending requests" | translate}}
              </a>
            </button>
            <button class="btn-sm border-0 bg-white d-flex">
              <a routerLink="/company-active-requests"
                class="link-dark rounded text-decoration-none">{{"all requests" | translate}}
              </a>
            </button>
          </ul>
        </div>
      </li>
      <li class=" border-top"></li>

        <button routerLink="/company-onprogress" class="btn  align-items-center rounded collapsed fw-semibold text-muted "
        >
          {{"company details" | translate}}
        </button>
        <!-- <div class="collapse" id="orders-collapse">
          <button routerLink="/company-onprogress" class="btn  align-items-center rounded collapsed fw-semibold text-muted">

          company details
          </button>
        </div> -->

      <li class=" border-top"></li>
      <li class="mb-1">
        <button  routerLink="/company-representatives"
        class="btn  align-items-center rounded collapsed fw-semibold text-muted"
        data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          {{"Representatives" | translate}}
        </button>
      </li>
      <li class=" border-top"></li>
      <li class="mb-1">
        <button  routerLink="/company-customer-support" class="fw-semibold text-muted btn  align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          {{"Customer Support" | translate}}
        </button>
      </li>

    </ul>
  </div>
