<h1 class="text-center pt-5">{{"Company details !" | translate}}</h1>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>


<div class="row pt-2" >
  <div class="offset-lg-2 col-lg-4" >
    <div class="card">
      <h1>{{"Payment" | translate}}</h1>
      <a [routerLink]='["/company-payment"]' class="text-decoration-none d-none">{{"New Payment" | translate}} </a><br>
      <a routerLink="/company-payment" class="text-decoration-none">{{"All Payments" | translate}}</a>
      <img src="../../../../assets/Logisty ui images/payment.jpg"
                                alt="" class="m-auto"
                                style="width: 80px; border-radius: 10px;">
    </div>
  </div>


  <div class="col-lg-4" >
    <div class="card">
      <h1>{{"Prices" | translate}}</h1>
      <a routerLink="/new-cnotification" class=" text-decoration-none d-none">{{"Add New Notification" | translate}}</a><br>
      <a routerLink="/company-price" class="text-decoration-none">{{"All Prices" | translate}}</a>
      <img  src="../../../../assets/Logisty ui images/notification .webp"
      alt="" class="m-auto pt-3"
      style="width: 80px; border-radius: 10px;">
    </div>
  </div>


</div>

</body>
</html>


