
  <div class=" container mt-5 ">
    <div class="row">

           <div class="col-4">
                <div class="  mb-1 card" id="v-pills-tab"
                 role="tablist" aria-orientation="vertical" *ngFor="let qes of question">

                   <a class="w-100 text-center text-decoration-none card-body" id="v-pills-home-tab" data-bs-toggle="pill"
                   data-bs-target="#v-pills-home" type="button" role="tab"
                    aria-controls="v-pills-home" aria-selected="true"
                    (click)="getid(qes.id)">{{ qes.name }}</a>
                </div>
                 </div>
                <div class="tab-content  col-8" id="v-pills-tabContent">
                  <div class="tab-pane fade show active " id="v-pills-home"
                   role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0" *ngFor="let qesDetalis of questionDetalis">
                    <div class="accordion " id="accordionExample">
                        <div class="accordion-item ">
                          <h2 class="accordion-header " id="headingOne">
                            <button class="accordion-button" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseOne"
                             aria-expanded="true" aria-controls="collapseOne">
                              {{ qesDetalis.question }}
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              {{ qesDetalis.answer }}
                                 </div>
                          </div>
                        </div>
                </div>
              </div>
        </div>
  </div>
  <div class="container py-5">
    <div class="row">
      <div class="col-4">
        <p>Lorem ipsum dolor sit amet,</p>
        <h3 style="color:#C8523B ;">{{"Have Any Question?" | translate}}</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
             Eius, deleniti nemo. Pariatur
             obcaecati quidem facere non laborum? Reiciendis, omnis voluptates.</p>
        <button class="btn btn-success ">{{"Contact US" | translate}}</button>
    </div>
    </div>
  </div>


 <section>
    <app-footer></app-footer>
 </section>
