  <div class=" container">
    <div class="row">
      <div class="col-3 ">
        <app-sidebar></app-sidebar>
      </div>

      <div class="col-9 ">

        <h2 class="text-start">{{"Local Service" | translate}}</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-12 align-items-md-center ">
          <div class="  card-body bg-white ">
              <div class="row">
                <div class=" col-4 ">
                  <button class="btn btn-secondary" routerLink="/local-new-request" type="button"
                  style="margin-left: 20%; position: absolute;top:40%;"
                  >
                  {{"Local Freight" | translate}}
                  </button>
                </div>

              </div>
              <img class="w-100" src="../../../../../assets/Logisty ui images/world.svg" alt="" srcset="">


          </div>
        </div>
      </div>


    </div>
  </div>
  <br>
  <br>
  <section class=" container-fluid w-100">
    <app-footer></app-footer>
  </section>
