.header{
  background-color:#021955;
  border-top-left-radius: 10px ;
  border-top-right-radius: 10px ;
  text-align: center;


}
.textDsing{
  color: white;
}
.bi-download{
  color: green;
  font-size: medium;

}
.btnDsing{
  background-color:#021955;
  color: white;

}

th{
  padding: 20px;
  text-align: center;

 }
 tr{
     text-align: center;

 }
 .bi{
     color: red;
 }
 thead{
     background-color: #57B8CE;
     color: white;


 }
 .bi1{
     color: white;
     background-color: #57B8CE;
 }
